<title>Spacesurf</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<style>
	h3, p, a, button{
		font-family: Montserrat;
	}

      .bg-blue-750{
    background-color: black;
  }
.btn-grad {background-image: linear-gradient(to right, #642DFF 0%, #C549FF  51%, #C549FF 100%)}
         .btn-grad {

            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            border-radius: 10px;
            display: block;
          }

     
</style>


        

<div class="section">
    <p class="lead">Share</p>
    <a href="/auth/google" class="">
        <button class="w-full btn-grad bg-blue-750 hover:bg-indigo-500 text-blue-700 py-2 px-4 mb-6 rounded" type="submit">Login with Google</button>
    </a>
</div>